.maincontainer{
    height: 100vh;
    width: 100%;
    background-color: white;
    
}
.container{
    background-color: skyblue;
    height: 15vh;
    width: 100%;
}


.firstcontainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 60vh;
    width: 100%;
    padding-top: 3vh;
    
}
.secondcontainer{
    background-color: yellow;
    height: 60vh;    
    width: 30%;
    
}
.con1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 60vh;
    padding-left: 3vh ;
}
.con2{
    background-color: orangered;
    height: 60vh;
    width: 100%;
}
.con3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: orangered;
    padding-bottom: 10px;
    
}
.thirdcontainer{
    background-color: skyblue;
    height: 15vh;
    width: 100%;  
}
p{
    font-size: 20px;
    text-align: center;
    
}